
footer{
  margin-top: 10vh;
  width: 100%; 
}


.div-general {
  width: 100%;
}

.container{
  display:flex;
  justify-content: center;
}


.copyright{
  text-align: center;
}

@media screen and (max-width: 480px){

  .copyright{
    margin-top: 5%;
  }
}
